.mainBox{
    display :flex;
    background-color: #edf0f5;
    flex-wrap: wrap;
    width : 100%;
}

.mainBox .box{
    background-color: white;
    margin : 1%;
    width : 48%;
}
.mainBox .bigBox{
    background-color: white;
    margin : 1%;
    width : 98%;
}
.title{ 
    font-size: 10px;
    border-bottom : 1px solid #dde0e6;
}

.contentsBox{
    height : 10%;
}
.deliveryProceedingIcon {
    background-image: url("../static/images/deliveryCompleted.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    padding : auto;
  }
  .deliveryProceedingIcon2{
    background-image: url("../static/images/deliveryPreparing.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    padding : auto;
  }
  .deliveryProceedingIcon3{
    background-image: url("../static/images/deliveryProceeding.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    padding : auto;
  }