.layoutBox {
  /* background-color: #aaaaaa; */
  display: flex;
  width: 100%;
  background-color: #edf0f5;
}

.resultBox{
  flex-wrap: wrap;
  display: flex;
  align-content: space-between;
  align-items: baseline;
  height: 100%;
  width: 100%;
}
.resultBox div{
  width : 100%
}
