a {
    text-decoration: none;
}

.navbarBox {
    background-color: #3F4B5C;
    width : 210px;
    display : flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top : 20px;
}
.selectBox{
    width: 70%;
    height: 25px;
    background-color: #37404d;
    border: 1px solid #646d7b;
    color : #cdced1;
    margin-top : 40px;
    border-radius: 0%;
    font-size: 10px;
}
.mainlogo{
    font-size: 25px;
}
.searchBox{
    display : flex;
    width : 70%;
    height : 25px;
    border-bottom: 1px solid #cdced1;
    margin : 20px;
}
.searchBox input{
    background-color: #AAAAAA00;
    outline: none;
    border: 0px;
    width : 100%;
    font-size:10px;
}

.mainlogo{
    color : white;
    align-content: center;
    text-decoration: none;
}
.navButtonBox{
    width: 100%;
    color : white;
}
.navButtonBox div{
    padding : 20px;
    color : white;
}
.navButton{
    background-color: #445163;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}
.navButton:after {
    content: "";
    display: block;
    width: 80%;
    border-bottom: 1px solid #646d7b;
    margin: 0 auto;
}
.navButton2{
    background-color: #414958;
    font-weight: 100;
}
.navButton2 div{
    color : #CCCCCC;
    padding-top : 8px;
    padding-bottom : 8px;
}
.navButton2 div:hover {
    color : rgb(195, 115, 219);
}
