.productBox{
    padding: 10px;
    width : 100%;
}
.title{
    background-color : white;
    padding : 10px;
    font-size: 20px;
    border : 1px solid #CCCCCC;
}
.titleBox{
    margin-top : 10px;
    background-color: white;
    padding : 10px;
    font-size: 15px;
    border : 1px solid #CCCCCC;
    display: flex;
    justify-content: space-around;
    padding : 50px;
}
.titleBox div{
    display : flex;
}
.box{
    margin-top : 10px;
    background-color: white;
    padding : 10px;
    font-size: 15px;
    border : 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subBox{
    display : flex; 
    padding : 10px;
    font-weight: 100;
    font-size : 13px;
}
.subBox h4{
    font-weight: 100;
    font-size : 13px;
    width : 150px;
    margin-right : 10px;
}
.subBox input{
    margin-right: 10px;
    margin-left : 3px;
}
.subTitle{
    padding : 15px 10px 15px 10px;
    border-bottom: 1px solid #CCCCCC;
}
.icon{
    width : 30px;
    height : 30px;
}
.productTable{
    width : 100%;
}
.productTable tr{
    border : 1px solid #CCCCCC;
}
.productTable th {
    text-align: center;
    padding : 10px;
    border: 1px solid #CCCCCC;
}
.productTable td {
    text-align: center;
    padding : 10px;
    border-bottom : 1px solid #EEEEEE;
}
.circle{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: gray;
}
.sliderBox{
    width : 300px;
}

.submitButton{
    width :200px;
    height : 30px;
    margin : 0 auto;
    background-color: #d8b7d1AA;
    border : 1px solid #cccccc;
}
.submitButton:hover{
    background-color: #d8b7d1;
}